#back {
    -fx-background-color: linear-gradient(to bottom, #fff4f8, #e787a7);
    -fx-pref-height: 715;
    -fx-min-height: 715;
    -fx-max-height: 715;
}

#dashboard {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #b95274;
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#dashboard:hover {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#user {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #b95274;
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#user:hover {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#book {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #b95274;
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#book:hover {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#logout {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #b95274;
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}

#logout:hover {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: #b95274;
    -fx-transition: background-color 0.3s ease;
    -fx-border-width: 2;
}